<app-home></app-home>

<h3 class="mt-5 mb-3">Reservation List</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Guest</th>
      <th>Email</th>
      <th>Room No.</th>
      <th>Check-In</th>
      <th>Check-Out</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody *ngIf="reservations.length; else noReservation">
    <tr *ngFor="let reservation of reservations">
      <td>Guest: {{ reservation.guestName }}</td>

      <td>Email: {{ reservation.guestEmail }}</td>

      <td>Room No: {{ reservation.roomNumber }}</td>

      <td>Check-In: {{ reservation.checkInDate }}</td>

      <td>Check-Out: {{ reservation.checkOutDate }}</td>

      <td>
        <button
          class="btn btn-sm btn-danger mx-1"
          (click)="deleteReservation(reservation.id)"
        >
          Delete
        </button>
        <button
          class="btn btn-sm btn-secondary mx-1"
          [routerLink]="['/edit', reservation.id]"
        >
          Edit
        </button>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #noReservation>
  <p>No reservation available.</p>
</ng-template>
